<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>{% block title %}QuickGrade{% endblock %}</title>
<meta name="description" content="">
<meta name="keywords" content="">

<!-- Favicons -->
<link href="static/img/apple-touch-icon.png" rel="icon">
<link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">
<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,5 00;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;4
00;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;
0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
rel="stylesheet">
<!-- Vendor CSS Files -->
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="static/vendor/aos/aos.css" rel="stylesheet">
<link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

<link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<li><a href="#" onclick="showLoginAlert()">About</a></li>
 
<li><a href="#" onclick="showLoginAlert()">Predictor</a></li>
<li><a href="#" onclick="showLoginAlert()">Features</a></li>
<li><a href="#" onclick="showLoginAlert()">Contact</a></li>
</ul>
<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>

<a class="btn-getstarted" id="loginButton" href="{{ url_for('login') }}">Login</a>

</div>
</header>

{%block body %}


s="title"><a href="#" onclick="showLoginAlert()" class="stretched-link">Skill Assessment</a></h4>
<p class="description">Manage your Skills efficiently with Dynamic Content based on Individual Report.</p>
</div>
</div>
</div><!-- End Service Item -->
<div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
<div class="service-item d-flex">
<div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
<div>
<h4 class="title"><a href="#" onclick="showLoginAlert()" class="stretched- link">Subject Insights</a></h4>
<p class="description">Detailed Insights and predictions for individual subjects or topics. </p>
</div>
</div>
</div><!-- End Service Item -->

</div>

</div>

</section><!-- /Featured Services Section -->
<!-- About Section -->
<section id="about" class="about section">

<div class="container">

<div class="row gy-4">
 

<div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
<p class="who-we-are">the purpose</p>
<h3>Unleashing Academic Success with Intelligent Insights</h3>
<p class="fst-italic">
We are pioneers in the field of Educational Technology, dedicated to providing innovative Solutions that help Students and institutions achieve their academic goals.
</p>
<ul>
<li><i class="bi bi-check-circle"></i> <span>Predict Performance: Utilize advanced algorithms to forecast students' academic outcomes based on historical data, study habits, and attendance. Gain insights into strengths and areas for improvement.</span></li>
<li><i class="bi bi-check-circle"></i> <span> Personalized Recommendations: Receive tailored study plans, resources, and actionable feedback to enhance learning and achieve academic excellence. Our platform equips students with strategies for long- term success.</span></li>
</ul>
<a href="#" onclick="showLoginAlert()" class="read- more"><span>Explore</span><i class="bi bi-arrow-right"></i></a>
<div class="col-xl-2 col-md-3 col-6 client-logo">
<img src="static/img/clients/client-6.png" class="img-fluid" alt="">
</div><!-- End Client Item -->

</div>
</div>
</section><!-- /Clients Section -->
<!-- Features Section -->
<section id="features" class="features section">
<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
<h2>Features</h2>
<p>Functionalities offered by Us</p>
</div><!-- End Section Title -->.
<div class="container">
<div class="row justify-content-between">

<div class="col-lg-5 d-flex align-items-center">
<ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
<li class="nav-item">
<a class="nav-link active show" data-bs-toggle="tab" data-bs- target="#features-tab-1">
<i class="bi bi-binoculars"></i>
<div>
<h4 class="d-none d-lg-block"> Automated Performance Tracking</h4>
<p>
Collect and analyze student performance data, including test scores, attendance, and participation, to provide detailed insights in real-time.
